/*  ============ shared style start  ============ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
/*  ============ container  ============  */

.container {
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/*  ============ end container  ============ */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgb(74, 65, 64);
}
::-webkit-scrollbar-thumb {
  background-color: #ff305b;
  border-radius: 50px;
}

.clear-fix {
  clear: both;
}

.heading .line {
  margin: 20px auto 70px;
  width: 160px;
  border-top: 1px solid #ff305b;
  position: relative;
}

.heading .line::before,
.heading .line::after {
  content: "";
  width: 100px;
  border-top: 1px solid #ff305b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.heading .line::before {
  bottom: 5px;
}

.heading .line::after {
  top: 5px;
}

/*  ============ shared style end  ============ */

/*  ============ Home Start  ============ */

.home {
  background-image: url(../images/slider/slider-01.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: auto;
}

.home .layer {
  background-color: rgba(0, 0, 0, 0.799);
  height: 100%;
  overflow: auto;
}

/*  ============ navbar start  ============ */

.navbar {
  padding: 20px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.42);
}

.home .navbar .nav-h3 {
  float: left;

  font-size: 23px;
}

.navbar #menu {
  display: none;
}

.navbar label {
  color: #fff;
  float: right;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.nav-h3 a {
  color: #ff305b;
}

.home .navbar .nav-list {
  float: right;
}

.navbar .nav-list li {
  display: inline-block;
  margin-left: 20px;
}

.navbar .nav-list .active {
  color: #ff305b;
}
.navbar .nav-list a {
  color: white;
  transition: color 0.5s;
}
.navbar .nav-list a:hover {
  color: #ff305b;
}

/*  ============ navbar end  ============  */

/*  ============ home-text start  ============ */

.home .home-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .home-text h3 {
  color: white;
  font-size: 25px;
  margin: 10px 0px;
}

.home .home-text h1 {
  color: #ff305b;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home .home-text h4 {
  font-size: 20px;
  color: white;
}

/*  ============ home-text end  ============ */

/*  ============ Home End  ============ */

/*  ============ About start  ============ */
.about {
  padding: 80px 0px;
}

.about .about-image {
  width: 40%;
  float: left;
}

.about .img-frame {
  width: 70%;
  border: 8px solid #555555;
  margin-left: auto;
  border-radius: 8px;
}

.about .about-image .image {
  width: 100%;
  border-radius: 8px;
  position: relative;
  top: 20px;
  left: 20px;
  overflow: hidden;
}

.about .about-image .image .layer {
  background-color: rgba(0, 0, 0, 0.457);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  transition: all 0.5s;
}
.about .about-image .image:hover .layer {
  top: 0px;
}

.about .about-image .image .layer .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}
.about .about-image .layer .icons i {
  padding-left: 10px;
  transition: color 0.5s;
}
.about .about-image .layer .icons i:hover {
  color: #ff305b;
  cursor: pointer;
}

.about .about-desc {
  width: 60%;
  float: left;

  padding-left: 80px;
}
.about .about-desc h2 {
  font-size: 35px;
  color: #333;
  margin-bottom: 18px;
  position: relative;
}

.about .about-desc h2::before {
  content: "";
  width: 5px;
  height: 25px;
  background-color: #ff305b;
  position: absolute;
  left: -15px;
  top: 10px;
}

.about .about-desc p {
  font-size: 18px;
  padding: 0px 30px 30px 0px;
  color: #686868;
  border-bottom: 1px dashed #999999;
  margin-bottom: 20px;
}

.about .about-list {
  font-size: 17px;
}

.about .about-list ul {
  float: left;
}

.about .about-list li {
  margin-bottom: 15px;
  color: #555555;
}

.about .about-list span {
  color: rgb(48, 47, 47);
  font-weight: 700;
}

.about .about-list .list2 {
  margin-left: 80px;
}

.about .about-list .buttons a {
  border: none;
  padding: 15px 35px;
  color: white;
  background-color: #ff305b;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

.about .buttons a:hover {
  background-color: tomato;
}

.about .about-list .buttons .hire {
  margin-left: 10px;
}

/* ============ About End ============ */

/* ============ Our Services Start  ============ */

.our-services {
  background-color: #f1f1f1;
  text-align: center;
  padding: 70px 0px;
}

.our-services h2 {
  font-size: 40px;
  color: rgb(32, 32, 32);
  font-weight: 900;
}
.our-services .item {
  width: 25%;
  float: left;
  padding: 30px;
  transition: background-color 0.6s;
}

.our-services .item:hover {
  background-color: white;
}
.our-services .item:hover i {
  transform: scale(1.3);
}

.our-services .item i {
  font-size: 30px;
  color: #ff305b;
  transition: transform 0.5s 0.2s;
}

.our-services .item h3 {
  font-size: 24px;

  padding: 20px 0;

  color: #333;
}
.our-services .item p {
  color: #666464;
  font-size: 17px;
}

/* ============ Our Services End ============ */

/* ============ Our Portfolio Start ============ */
.our-protfolio {
  text-align: center;
  margin: 100px 0px;
}
.our-protfolio h2 {
  font-size: 40px;
  color: rgb(32, 32, 32);
  font-weight: 900;
}

.our-protfolio .protfolio-list {
  margin: 0px auto 30px;
}
.our-protfolio .protfolio-list li {
  margin-left: 15px;
  display: inline-block;
}
.our-protfolio .protfolio-list a {
  color: #333333;
  font-size: 18px;
  transition: all 0.5s;
}
.our-protfolio .protfolio-list .active {
  color: #ff305b;
}
.our-protfolio .protfolio-list a:hover {
  color: #ff305b;
}

.our-protfolio .item {
  width: 33.3333%;
  float: left;
  padding: 20px;
}
.our-protfolio .item img {
  width: 100%;
}

.our-protfolio .photo {
  position: relative;
}
.our-protfolio .photo:hover {
  cursor: pointer;
}
.our-protfolio .photo:hover .layer {
  opacity: 1;
}

.our-protfolio .layer {
  background-color: rgba(0, 0, 0, 0.397);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.our-protfolio .layer i {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #ff305b;
}

/*  ============ Our Portfolio End ============ */

/*  ============ Counter Start ============ */
.counter {
  background-color: #f1f1f1;
  text-align: center;
  padding: 100px 0px;
  overflow: auto;
  margin-bottom: 80px;
}

.counter .item {
  width: 25%;
  float: left;
}

.counter .item i {
  margin-bottom: 15px;
  font-size: 26px;
  color: #ff305b;
}

.counter .item h3 {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 10px;
}

.counter .item h5 {
  font-size: 17px;

  color: #5a5959;
}

/* ============ Counter End ============ */

/* ============ Feedback Start  ============ */
.feedback {
  margin-bottom: 80px;
  text-align: center;
}

.feedback h2 {
  font-size: 40px;
  color: rgb(32, 32, 32);
  font-weight: 900;
}

.feedback .slider {
  width: 80%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

/* Start client  */
.feedback .client {
  width: 60%;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #ff305b 20%, #f1f1f1 15%);
  margin: auto;
  padding: 45px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: start;
  transition: left 1s;
}
.feedback .client .image {
  width: 20%;
  float: left;
}
.feedback .client .client-info {
  width: 80%;
  float: left;
  padding-left: 20px;
}
.feedback .client-info h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #333;
}
.feedback .client-info h4 {
  margin-bottom: 10px;
}
.feedback .client-info h4 i {
  padding-right: 5px;
}

.feedback .client-info a {
  color: #777777;
}
.feedback .client-info p {
  font-size: 18px;
  color: #333;
  font-style: italic;
  margin-bottom: 10px;
  color: #575656;
}

.feedback .image img {
  border-radius: 50%;
  width: 90%;
}

.feedback .client-info .icons {
  color: gold;
}

.feedback .client.invisable {
  position: static;
  visibility: hidden;
}

/* Style label  */
.feedback label {
  background-color: transparent;
  width: 11px;
  height: 11px;
  display: inline-block;
  border: solid 1px #ff305b;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.5s;
}

/* Inputs  */
.feedback #slide1,
.feedback #slide2 {
  display: none;
}

.feedback #slide1:checked ~ .slider .client-2,
.feedback #slide2:checked ~ .slider .client-1 {
  left: 150%;
}

.feedback #slide1:checked ~ .slider .client-1,
.feedback #slide2:checked ~ .slider .client-2 {
  left: 50%;
}

.feedback #slide2:checked ~ .slide-2,
.feedback #slide1:checked ~ .slide-1 {
  width: 25px;
  background-color: #ff305b;
}

/* ============ Feedback End ============ */

/* ============ Our Blog Start ============ */

.our-blog {
  background-color: #f1f1f1;
  padding-bottom: 80px;
  overflow: auto;
}

.our-blog h2 {
  font-size: 40px;
  color: rgb(32, 32, 32);
  font-weight: 900;
  margin: 80px 0px 0px;
  text-align: center;
}

.our-blog .item {
  width: 33.333%;
  float: left;
  padding: 30px;
}
.our-blog .item .inner {
  background-color: white;
}

.our-blog .text {
  padding: 20px;
}

.our-blog .item img {
  width: 100%;
  height: 230px;
}

.our-blog .item p {
  padding-bottom: 20px;
  font-size: 18px;
  color: #5a5959;
}
.our-blog .item h3 {
  font-size: 22px;
  padding-bottom: 20px;
  transition: color 0.3s;
}
.our-blog .item h3:hover {
  color: #ff305b;
  cursor: pointer;
}
.our-blog .item a {
  color: #232323;
  font-size: 17px;
  transition: color 0.3s;
}

.our-blog .item a:hover {
  color: #ff305b;
}

/* ============ Our Blog End ============ */

/* ============ Contact Start ============*/
.contact {
  text-align: center;

  color: rgb(32, 32, 32);
  overflow: auto;
}
.contact h2 {
  margin: 80px 0px 0px;
  font-size: 40px;
  font-weight: 900px;
}

.contact .contact-form {
  width: 70%;
  margin: auto;
}

.contact .contact-form input,
.contact .contact-form textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 10px;
  font-size: 15px;
}

.contact .data-form {
  width: 100%;
  float: left;
  padding: 10px;
}

.contact .data-form:nth-child(-n + 2) {
  width: 50%;
}

.contact .contact-form button {
  padding: 10px 15px;
  background-color: #ff305b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.contact .contact-form button:hover {
  background-color: rgb(230, 26, 26);
  cursor: not-allowed;
}

.contact textarea {
  height: 150px;
  resize: vertical;
}
/* ============ Contact End ============ */

/* ============ Footer Start ============ */
.footer {
  background-color: #2f2d2a;
  color: white;
  text-align: center;
  padding: 60px 0px;
  margin-top: 80px;
}

.footer .icons {
  padding-bottom: 10px;
  font-size: 17px;
}
.footer .icons i {
  padding-left: 20px;
  transition: color 0.2s;
}
.footer .icons i:hover {
  color: #ff305b;
  cursor: pointer;
}

.footer p {
  font-size: 17px;
}

.footer a {
  color: #ff305b;
}
.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ============ Footer End ============ */

/* ============ Media Start ============ */

@media screen and (max-width: 1200px) {
  .our-protfolio .protfolio-list {
    width: 50%;
  }

  .feedback .client {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .about .about-image,
  .contact .contact-form {
    width: 100%;
  }
  .about .img-frame {
    border: none;
    margin-left: 50px;
  }
  .about .about-desc {
    width: 100%;
    padding-top: 50px;
  }
  .about .about-list ul {
    float: unset;
  }
  .about .about-list .list2 {
    margin-left: unset;
  }
  .our-services .item,
  .our-protfolio .item {
    width: 50%;
  }

  .our-protfolio .protfolio-list {
    width: 70%;
  }

  /* .feedback .button {
    width: 10%;
  } */

  .our-blog .item {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  /* navbar media start*/
  .home .navbar .nav-list {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.833);
    z-index: 99;
    color: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .navbar #menu:checked + .nav-list {
    max-height: 600px;
  }

  .navbar label {
    display: block;
  }

  .navbar .nav-list li {
    display: block;
    margin: 0 10px;
  }

  .navbar .nav-list a {
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    background-color: rgba(152, 149, 149, 0.518);
  }

  /* navbar media end */

  .our-services .item,
  .our-protfolio .item,
  .our-protfolio .protfolio-list,
  .counter .item,
  .our-blog .item,
  .contact .contact-form .data-form {
    width: 100%;
  }
  .feedback .client {
    width: 90%;
    margin: auto;
  }

  .feedback .client .image {
    float: unset;
    width: 35%;
    margin: auto;
  }
  .feedback .client .client-info {
    width: 100%;
    padding-left: unset;
  }
  /* .feedback .button {
    width: 10%;
  } */
  .contact .contact-form {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .our-services .item {
    width: 100%;
  }
}

/* ============ Media End ============ */
